.card{
    box-sizing: border-box;
    width:17vw;
    height:230px;
    padding: 30px;
    border: 1px solid rgba(237,241,246,255);
}

.fa{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon-h1{
    font-size: 1.2rem;
    color: black;
}

.activeCard{
    border: 1px solid rgba(102,77,229,255);
}

.activeCard i{
    color: rgba(102,77,229,255);
}

.cards{
    margin: 0 auto;
    width: 36vw;
    display: flex;
    justify-content: space-between;
}

.icon-p{
    font-size: 1rem;
    font-weight: 550;
    color: #5b6578;
    margin-bottom: 20px;
}


@media screen and (max-width:1800px) {
    .cards{
      width:45vw;
    }
    .card{
        width: 20vw;
    }
}
@media screen and (max-width:1430px) {
    .cards{
        width:50vw;
      }
      .card{
          width: 23vw;
          height:240px;
          padding: 25px;
      }
}@media screen and (max-width:900px) {
    .cards{
        width:60vw;
      }
      .card{
          width: 28.5vw;
          padding: 20px;
      }
  }
@media screen and (max-width:600px) {
    .cards{
        width:80vw;
      }
      .card{
          width: 38vw;
          padding: 18px;
      }
}
@media screen and (max-width:400px) {
    .cards{
        width:90vw;
      }
      .card{
          width: 42vw;
          padding: 15px;
      }
}
