.form-input{
  width:36vw;
  margin: 0 auto;
}

.form-input label{
  width: 100%;
    margin-top: 18px;
    text-align: left;
    display:block;
    margin-bottom: 0;
    font-weight: 550;
    color: #5b6578;
    font-size: 1rem;
}

#url-input{
  position: relative;
}

#url{
  width:65%;
  position: relative;
  left: 35%;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#url-div{
  display: inline;
  position: absolute;
  top:0;
  height:55px;
  color: rgba(156,164,180,255);
  border: 2px solid rgba(237,241,246,255);
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1.2rem;
  width: 35%;
  right: 65%;
  background-color: rgba(248,249,252,1);
  text-align: center;
  line-height: 55px;
}

.form-input input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height:59px;
    margin-top: 10px;
    color: rgba(156,164,180,255);
    border: none;
    border: 2px solid rgba(237,241,246,1);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2rem;
}

.optional-input{
  color:rgba(156,164,180,1);
}

input:focus{
  outline: rgb(215, 219, 223) solid 2px;
}


@media screen and (max-width:1800px) {
    .form-input{
      width:45vw;
    }
}
@media screen and (max-width:1430px) {
  .form-input{
    width:50vw;
  }
}
@media screen and (max-width:900px) {
  .form-input{
    width:60vw;
  }
}
@media screen and (max-width:600px) {
  .form-input{
    width:80vw;
  }
}
@media screen and (max-width:400px) {
  .form-input{
    width:90vw;
  }
}